<HTML>

<HEAD>
    <TITLE>JSON-driven Server</TITLE>
</HEAD>

<BODY>
    <DIV id='header'>
        <H1>Hello World!</H1> </DIV>
    <DIV id='body'>
        <% data.forEach(function(question){ %>
            <h2><%= question.Questions.question %></h2>
            <% }); %>
    </DIV>
    <DIV id='footer'></DIV>
</BODY>

</HTML>