 .option {
            margin-left: 40px;
        }
        
        .suboption {
            margin-left: 60px;
        }
        
        .subform {
            display: none;
            margin-left: 60px;
        }